.custom-scrollbar {
  overflow-y: auto;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(236, 243, 242, 0.1);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #38b2ac, #2dd4bf);
  border-radius: 10px;
  border: 1px solid rgba(236, 243, 242, 0.1);
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #2dd4bf, #14b8a6);
  box-shadow: 0 0 10px rgba(56, 178, 172, 0.5);
}