/* user search list */
.search-list-hover {
  transition: all 0.2s ease;
  border-radius: 10px;
}

.search-list-hover:hover {
  background: rgba(16, 241, 230, 0.2) !important;
  transform: translateX(4px);
}
